body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.hero {
    position: relative;
    background: url("../images/imgbackground.jpg") no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.55);
}

.content {
    position: relative;
    z-index: 2;
    color: white;
}

.btn {
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}
